[Unit]
Description=Simple Logs Alert Service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/simple-logs/alert-system.py
WorkingDirectory=%h/simple-logs
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target